<%= form_for @gite, :url => { :id => @gite.id, :action => "update2" }, :html => { :method => :put, :multipart => true } do |f| %>
  <% if @gite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gite.errors.count, "error") %> prohibited this gite from being saved:</h2>

      <ul>
      <% @gite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <h1>Modifier les Images du Gîte ainsi que ses spécifications</h1>


  <br/>
  <!--<div class="field">
    <%= f.label :text3 %>Description du Gîte<br />
    <%= f.text_area :text3 %>
  </div>-->
  <div class="field">
    <%#= f.label :text10 %><span style="font-weight:bold;color:red;">Photo Principale (doit avoir une taille de 520x400px)<br />
    <%= image_tag @gite.text10, :size => "50x50" %>
    <%= f.file_field :text10 %>
  </div>
  <div class="field">
    <%#= f.label :text9 %>Photo 2<br />
    <%= image_tag @gite.text9, :size => "50x50" %>
    <%= f.file_field :text9 %>
  </div>
  <div class="field">
    <%#= f.label :text8 %>Photo 3<br />
    <%= image_tag @gite.text8, :size => "50x50" %>
    <%= f.file_field :text8 %>
  </div>
  <div class="field">
    <%#= f.label :text7 %>Photo 4<br />
    <%= image_tag @gite.text7, :size => "50x50" %>
    <%= f.file_field :text7 %>
  </div>
  <div class="field">
    <%#= f.label :text6 %>Photo 5<br />
    <%= image_tag @gite.text6, :size => "50x50" %>
    <%= f.file_field :text6 %>
  </div>
  <div class="field">
    <%#= f.label :text5 %>Photo 6<br />
    <%= image_tag @gite.text5, :size => "50x50" %>
    <%= f.file_field :text5 %>
  </div>
  <div class="field">
    <%#= f.label :text4 %>Photo 7<br />
    <%= image_tag @gite.text4, :size => "50x50" %>
    <%= f.file_field :text4 %>
  </div>
  <div class="field">
    <%#= f.label :image %>Photo 8<br />
    <%= image_tag @gite.image, :size => "50x50" %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%#= f.label :text1 %> Type de Gîte :<br />
    <%#= binding.pry %>
    <%= f.select :text1, options_for_select([ ["studio", "studio-sort"], ["studio-mezzanine", "studio-mezzanine-sort"], ["F2", "f2-sort"], ["F3", "f3-sort"], ["F4", "f4-sort"], ["F5", "f5-sort"] ], @gite.text1) %>
  </div>
  <div class="field">
    <%#= f.label :text2 %>Nombre de personnes :<br />
    <%= f.text_field :text2 %>
  </div>
  <div class="actions">
    <%= f.submit :style => "background:green;" %>
  </div>
<% end %>
