<% if admin_signed_in? %>

    <div class="container">


        <br/>
        <br/>
        <hr/>
        <p style="color:red;">Cette zone n'est visible que par les administrateurs du site quand ils sont connectés !!! </p>
        <br/>
        <br/>
        <table style="border: 2px solid green;">
          <tr>
            <th>Editer les disponibilités</th>
            <!--<th>Text1</th>
            <th>Text2</th>
            <th>Text3</th>
            <th>Text4</th>
            <th>Text5</th>
            <th>Text6</th>
            <th>Text7</th>
            <th>Text8</th>
            <th>Text9</th>
            <th>Text10</th>-->
            <!--<th>Editer la description</th>-->
            <th>Editer les Photos</th>
            <!--<th>Effacer</th>-->
          </tr>

            <% @gites.each do |gite| %>
                <tr>
                    <td style="margin-left:10px;font-weight:bold;"><%= link_to "Editer calendrier #{gite.title}", gite, class: "btn" %></td>
                    <!--<td><%= gite.text1 %></td>
                    <td><%= gite.text2 %></td>
                    <td><%= gite.text3 %></td>
                    <td><%= gite.text4 %></td>
                    <td><%= gite.text5 %></td>
                    <td><%= gite.text6 %></td>
                    <td><%= gite.text7 %></td>
                    <td><%= gite.text8 %></td>
                    <td><%= gite.text9 %></td>
                    <td><%= gite.text10 %></td>-->
                    <!--<td><%= link_to 'Show', gite, :class => "btn btn-info" %></td>-->
                    <!--<td><%= link_to 'Edit gîte Description', "/editor/gites/#{gite.id}", :class => "btn btn-success", :style => "margin-left:20px;width:250px;" %></td>-->
                    <td><%= link_to "Editer Photos et infos gite #{gite.title}", "/gites/#{gite.id}/edit", :class => "btn btn-warning", :style => "margin-left:20px;width:250px;" %></td>
                    <!--<td><%= link_to 'Destroy', gite, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :style => "margin-left:20px;margin-right:10px;" %></td>-->
                </tr>
            <% end %>
        </table>

        <br />

        <!--<%= link_to 'Creer un nouveau Gite', new_gite_path, :class => "btn btn-large btn-primary" %>-->

        <br/>
        <br/>
        <hr/>



    </div><!-- **Container - End** -->

<style>
tr td{
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
tr th{
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
</style>





<% else %>




<style>
tr td{
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
tr th{
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
</style>


<!-- **Container** -->
    <div class="container">

        <!-- **Primary Section** -->
        <section id="primary" class="content-full-width">


            <div class="sorting-container">
                <a href="#" title="" class="active-sort" data-filter=".all-sort"> <%= t 'gites.menu.tous' %> </a>
                <a href="#" title="" data-filter=".studio-sort"> <%= t 'gites.menu.studio' %> </a>
                <a href="#" title="" data-filter=".studio-mezzanine-sort"> <%= t 'gites.menu.studiom' %> </a>
                <a href="#" title="" data-filter=".f2-sort"> <%= t 'gites.menu.f2' %> </a>
                <a href="#" title="" data-filter=".f3-sort"> <%= t 'gites.menu.f3' %> </a>
                <a href="#" title="" data-filter=".f4-sort"> <%= t 'gites.menu.f4' %> </a>
                <a href="#" title="" data-filter=".f5-sort"> <%= t 'gites.menu.f5' %> </a>
            </div>

            <!--<style media="screen">
              .portfolio{
                border-bottom: none !important;
              }
            </style>-->


            <div class="portfolio-container gallery">

                <% @gites.each do |gite| %>

                    <div class="portfolio four-column all-sort <%= gite.text1 %>" >

                        <div class="portfolio-thumb">
                            <%= link_to gite_url(gite, locale: I18n.locale), :class => 'lik' do %>
                                <%= image_tag gite.text10_url if gite.text10_url %>
                            <% end %>
                        </div>

                        <%= link_to gite_url(gite, locale: I18n.locale) do %>
                          <div class="portfolio-detail">
                              <h5> <%= gite.title %> </h5>
                              <p> <%= gite.text2 %> </p>
                          </div>
                        <% end %>

                    </div>

                <% end %>

            </div>


            <div class="clear"> </div>
            <div class="hr-invisible-small"> </div>


        </section><!-- **Primary Section** -->

    </div><!-- **Container - End** -->

            <div class="clear"> </div>
            <div class="hr-invisible-small"> </div>

<% end %>
