



<style>
tr td{
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
tr th{
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
</style>


<!-- **Container** -->
    <div class="container-fluid">

        <!-- **Primary Section** -->
        <section id="primary" class="content-full-width">


            <div class="sorting-container">
                <a href="#" title="" class="active-sort" data-filter=".all-sort"> <%= t 'gites.menu.tous' %> </a>
                <a href="#" title="" data-filter=".studio-sort"> <%= t 'gites.menu.studio' %> </a>
                <a href="#" title="" data-filter=".studio-mezzanine-sort"> <%= t 'gites.menu.studiom' %> </a>
                <a href="#" title="" data-filter=".f2-sort"> <%= t 'gites.menu.f2' %> </a>
                <a href="#" title="" data-filter=".f3-sort"> <%= t 'gites.menu.f3' %> </a>
                <a href="#" title="" data-filter=".f4-sort"> <%= t 'gites.menu.f4' %> </a>
                <a href="#" title="" data-filter=".f5-sort"> <%= t 'gites.menu.f5' %> </a>
            </div>

            <!--<style media="screen">
              .portfolio{
                border-bottom: none !important;
              }
            </style>-->


            <div class="portfolio-container gallery">

                <% @gites.each do |gite| %>

                    <div class="portfolio four-column all-sort <%= gite.text1 %>" >

                        <div class="portfolio-thumb">
                            <%= link_to gite_url(gite, locale: I18n.locale), :class => 'lik' do %>
                                <%= image_tag gite.text10_url if gite.text10_url %>
                            <% end %>
                        </div>

                        <%= link_to gite_url(gite, locale: I18n.locale) do %>
                          <div class="portfolio-detail">
                              <h5> <%= gite.title %> </h5>
                              <p> <%= gite.text2 %> </p>
                          </div>
                        <% end %>

                    </div>

                <% end %>

            </div>


            <div class="clear"> </div>
            <div class="hr-invisible-small"> </div>


        </section><!-- **Primary Section** -->

    </div><!-- **Container - End** -->

            <div class="clear"> </div>
            <div class="hr-invisible-small"> </div>

