<style>
ul.products li{
  width: 98%;
  height: 100%;
}
ul.products li .product-thumb{
  height: 400px;
}
</style>

      <!-- **Container** -->
      <div class="container">
        
        <!-- **Primary Section** -->
        <section id="primary" class="content-full-width"> 
        
          <!-- **Product** -->
          <div class="product">

              <div class="imagees" style="float:left;">

                    <ul class="products">
                        <li>
                            <div class="product-thumb gallery">
                                <a href="" title="">
                                    <span class="onsale"> <%= raw(@gite.title) %> <span> </span> </span>
                                    <img src="<%= @gite.text10 %>" alt="" title="" >                
                                </a>

                                <div class="product-overlay">
                                    <a href="<%= @gite.text10 %>" data-gal="prettyPhoto[gallery]" title=""> <span class="icon-search"> </span> </a>
                                </div>
                                <div class="product-overlay">
                                    <a href="<%= @gite.text9 %>" data-gal="prettyPhoto[gallery]" title=""> <span class="icon-search"> </span> </a>
                                </div>
                                <% if @gite.text8 %>
                                    <div class="product-overlay">
                                        <a href="<%= @gite.text8 %>" data-gal="prettyPhoto[gallery]" title=""> <span class="icon-search"> </span> </a>
                                    </div>
                                <% end %>  
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="summary" style="float:right;">
                  <div style="padding-left: 15px;">
                    <h2> Gîte <%= raw(@gite.title) %> </h2>
                      <p class="price"> <%= @gite.text2 %> </p>
                      <div class="description">
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum ultricies orci in luctus. Ut quis ante tellus, eget euismod nibh. Curabitur blandit placerat tellus sed vehicula. Praesent auctor sem sit amet purus pulvinar mollis. Donec suscipit, sapien ac eleifend convallis, metus justo vulputate justo. Donec id consectetur sem. Sed placerat, magna vel tincidunt dignissim, mauris mi convallis urna, vitae mollis leo metus eu lectus. </p>
                          <p> <strong> Property Type </strong> : Single Family </p>
                          <p> <strong> Listing Type </strong> : For Sale </p>
                          <p> <strong> Square Feet </strong> : 1256 Sq. Ft. </p>
                          <p> <strong> Price/sqft </strong> : $ 23 </p>
                      </div>

                        <a href="/calendar"><button class="single_add_to_cart_button button alt" type="submit"> Vérifier la disponibilité </button></a>

                    </div>
                </div>

                


          </div><!-- **Product End** -->

      </section><!-- **Primary Section** -->      






<!-- admin zone -->



<% if admin_signed_in? %>


<p>Cette zone n'est visible que par un admin !!! </p>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @gite.title %>
  <div id="title" data-mercury="full" class="mercury-region" data-type="editable"><%= raw(@gite.title) %></div>
</p>

<p>
  <b>Text1:</b>
  <%= @gite.text1 %>
  <div id="text1" data-mercury="full" class="mercury-region" data-type="editable"><%= raw(@gite.text1) %></div>
</p>

<p>
  <b>Text2:</b>
  <%= @gite.text2 %>
  <div id="text2" data-mercury="full" class="mercury-region" data-type="editable"><%= raw(@gite.text2) %></div>
</p>

<p>
  <b>Text3:</b>
  <%= @gite.text3 %>
  <div id="text3" data-mercury="full" class="mercury-region" data-type="editable"><%= raw(@gite.text3) %></div>
</p>

<p>
  <b>Text4:</b>
  <%= @gite.text4 %>
</p>

<p>
  <b>Text5:</b>
  <%= @gite.text5 %>
  <div id="text5" data-mercury="full" class="mercury-region" data-type="editable"><%= raw(@gite.text5) %></div>
</p>

<p>
  <b>Text6:</b>
  <%= @gite.text6 %>
  <div id="text6" data-mercury="full" class="mercury-region" data-type="editable"><%= raw(@gite.text6) %></div>
</p>

<p>
  <b>Text7:</b>
  <%= @gite.text7 %>
  <div id="text7" data-mercury="full" class="mercury-region" data-type="editable"><%= raw(@gite.text7) %></div>
</p>

<p>
  <b>Text8:</b>
  <%= @gite.text8 %>
  <div id="text8" data-mercury="full" class="mercury-region" data-type="editable"><%= raw(@gite.text8) %></div>
</p>

<p>
  <b>Text9:</b>
  <%= @gite.text9 %>
  <div id="text9" data-mercury="full" class="mercury-region" data-type="editable"><%= raw(@gite.text9) %></div>
</p>

<p>
  <b>Text10:</b>
  <%= @gite.text10 %>
  <div id="text10" data-mercury="full" class="mercury-region" data-type="editable"><%= raw(@gite.text10) %></div>
</p>


<%= link_to 'Edit', edit_gite_path(@gite) %> |
<%= link_to 'Back', gites_path %>


<% end %>




        
    </div><!-- **Container - End** -->











