<style media="screen">
  .img-responsive{display:block;max-width:100%;height:auto;border-radius:7px;}
  ul{list-style: none;}
</style>

<%#= javascript_include_tag 'calendar' %>



      <!-- **Container** -->
      <div class="container">

        <% if admin_signed_in? %>

          <br/>

          <div class="row">

            <div class="col-md-12">
              <div id='calendar'></div>
            </div>

          </div> <!-- end row -->

        <% else %>

          <br/>

          <div class="row">

            <div class="col-md-6">
              <h2> Gîte <%= raw(@gite.title) %> </h2>
              <p class="price"> <%= raw(@gite.text2) %> </p>
              <div class="description">
                <div id="text3"><p><%= raw(@gite.text3) %></p></div>
              </div>
            </div>

            <div class="col-md-6">
              <div id='public_calendar'></div>
            </div>

          </div> <!-- end row -->

        <% end %>

        <hr/>

        <ul class="row gallery">
              <% if @gite.text10_url %>
                <li class="col-md-4">
                  <a href="<%= @gite.text10 %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.text10_url, class: "img-responsive" %> </a>
                </li>
              <% end %>
              <% if @gite.text9_url %>
                <li class="col-md-4">
                  <a href="<%= @gite.text9 %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.text9_url, class: "img-responsive" %> </a>
                </li>
              <% end %>
              <% if @gite.text8_url %>
                <li class="col-md-4">
                  <a href="<%= @gite.text8 %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.text8_url, class: "img-responsive" %> </a>
                </li>
              <% end %>
        </ul>

        <ul class="row gallery">
              <% if @gite.text7_url %>
                <li class="col-md-4">
                  <a href="<%= @gite.text7 %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.text7_url, class: "img-responsive" %> </a>
                </li>
              <% end %>
              <% if @gite.text6_url %>
                <li class="col-md-4">
                  <a href="<%= @gite.text6 %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.text6_url, class: "img-responsive" %> </a>
                </li>
              <% end %>
              <% if @gite.text5_url %>
                <li class="col-md-4">
                  <a href="<%= @gite.text5 %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.text5_url, class: "img-responsive" %> </a>
                </li>
              <% end %>
        </ul>

      </div><!-- **Container - End** -->
