
<ul class="form-group">
  <li class="form-control">
    <%= f.label 'first_name' %>
    <%= f.text_field :first_name, class: 'twb_form_control' %>
  </li>
  <li class="form-control">
    <%= f.label 'last_name' %>
    <%= f.text_field :last_name, class: 'twb_form_control'  %>
  </li>
  <li class="form-control">
    <%= f.label 'email' %>
    <%= f.text_field :email, class: 'twb_form_control'  %>
  </li>
  <li class="form-control">
    <%= f.label 'phone_number' %>
    <%= f.text_field :phone_number, class: 'twb_form_control'  %>
  </li>
  <li class="form-control">
    <%= f.label 'address' %>
    <%= f.text_field :address, class: 'twb_form_control'  %>
  </li>
  <li class="form-control">
    <%= f.label 'postal_code' %>
    <%= f.number_field :postal_code, class: 'twb_number_field' %>
  </li>
  <li class="form-control">
    <%= f.label 'city' %>
    <%= f.text_field :city, class: 'twb_form_control'  %>
  </li>
  <li class="form-control">
    <%= f.label 'number of Persons' %>
    <%= f.number_field :number, class: 'twb_number_field' %>
  </li>
  <li>
    <%= f.submit 'submit', class: 'btn btn-success submit_button' %>
  </li>
</ul>
