<h2>Fiche client</h2>
<ul>
  <li>ID : <%= @client.id %></li>
  <li>first name : <%= @client.first_name %></li>
  <li>last name : <%= @client.last_name %></li>
  <li>Email : <%= @client.email %></li>
  <li>address : <%= @client.address %></li>
  <li>code postal : <%= @client.postal_code %></li>
  <li>city : <%= @client.city %></li>
  <li>phone number : <%= @client.phone_number %></li>
  <li>mobile phone number : <%= @client.mobile_phone_number %></li>
  <li>number : <%= @client.number %></li>
  <li>created_at : <%= @client.created_at %></li>
  <li>updated_at : <%= @client.updated_at %></li>
</ul>
