
<%= form_for [:crm, @gite], :url => { :id => @gite.id, :action => "update" }, :html => { :method => :put, :multipart => true } do |f| %>
  <% if @gite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gite.errors.count, "error") %> prohibited this gite from being saved:</h2>

      <ul>
      <% @gite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <h1>Modifier Infos et Photos du Gite</h1>
  <br/>
  <div class="row">

    <div class="span3">
      <div class="field">
        Nb de lits 120x190 :<br />
        <%= f.select :bed_120x190, options_for_select([ [0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5] ], @gite.bed_120x190) %>
      </div>
      <div class="field">
        Nb de lits 140x190 :<br />
        <%= f.select :bed_140x190, options_for_select([ [0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5] ], @gite.bed_140x190) %>
      </div>
    </div>
    <div class="span3">
      <div class="field">
        Nb de lits 90x190 :<br />
        <%= f.select :bed_90x190, options_for_select([ [0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5] ], @gite.bed_90x190) %>
      </div>
      <div class="field">
        Nb de lits 90x200 :<br />
        <%= f.select :bed_90x200, options_for_select([ [0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5] ], @gite.bed_90x200) %>
      </div>
    </div>
    <div class="span3">
      <div class="field">
        Nb de lits 160x200 :<br />
        <%= f.select :bed_160x200, options_for_select([ [0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5] ], @gite.bed_160x200) %>
      </div>
      <div class="field">
        Nb de fauteuils 90x190 :<br />
        <%= f.select :armchair_90x190, options_for_select([ [0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5] ], @gite.armchair_90x190) %>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="span4">
      <div class="field">
        Type de Gîte :<br />
        <%= f.select :text1, options_for_select([ ["studio", "studio-sort"], ["studio-mezzanine", "studio-mezzanine-sort"], ["F2", "f2-sort"], ["F3", "f3-sort"], ["F4", "f4-sort"], ["F5", "f5-sort"] ], @gite.text1) %>
      </div>
    </div>

    <div class="span4">
      <div class="field">
        Energy type:<br />
        <%= f.select :energy_type, options_for_select([ ["electrical", "electrical"], ["gas", "gas"] ], @gite.energy_type) %>
      </div>

    </div>

  </div>


    <div class="field">
      Prix du ménage (en Euros) :<br />
      <%= f.number_field :cleaning_price, class: "twb_number_field" %>
    </div>

    <div class="field">
      Capacité du logement :<br />
      <%= f.text_field :text2, class: "twb_form_control" %>
    </div>

  <div class="field">
    Description du Gîte<br />
    <%= f.text_area :text3, style: "width:100%;", rows: 7 %>
  </div>
  <hr />
  <h4 class="text-center">Photos</h4>
  <div class="field">
    <span style="font-weight:bold;color:red;">Photo Principale (doit avoir une taille de 520x400px)<br />
    <%= image_tag @gite.text10_url, :size => "50x50" if @gite.text10_url %>
    <%= f.file_field :text10 %>
  </div>
  <div class="field">
    Photo 2<br />
    <%= image_tag @gite.text9_url, :size => "50x50" if @gite.text9_url %>
    <%= f.file_field :text9 %>
  </div>
  <div class="field">
    Photo 3<br />
    <%= image_tag @gite.text8_url, :size => "50x50" if @gite.text8_url %>
    <%= f.file_field :text8 %>
  </div>
  <div class="field">
    Photo 4<br />
    <%= image_tag @gite.text7_url, :size => "50x50" if @gite.text7_url %>
    <%= f.file_field :text7 %>
  </div>
  <div class="field">
    Photo 5<br />
    <%= image_tag @gite.text6_url, :size => "50x50" if @gite.text6_url %>
    <%= f.file_field :text6 %>
  </div>
  <div class="field">
    Photo 6<br />
    <%= image_tag @gite.text5_url, :size => "50x50" if @gite.text5_url %>
    <%= f.file_field :text5 %>
  </div>
  <div class="field">
    Photo 7<br />
    <%= image_tag @gite.text4_url, :size => "50x50" if @gite.text4_url %>
    <%= f.file_field :text4 %>
  </div>
  <div class="field">
    Photo 8<br />
    <%= image_tag @gite.image_url, :size => "50x50" if @gite.image_url %>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-success btn-large btn-block" %>
  </div>
<% end %>
