
<style media="screen">
  .img-responsive{display:block;max-width:100%;height:auto;border-radius:3px;}
  ul{list-style: none;}
  .border-title{margin: 0px 0px 25px;}
  p{text-align: justify;}
</style>

<%= javascript_include_tag 'calendar' %>



      <!-- **Container** -->
      <div class="container-fluid">

        <%= link_to "Edit", edit_crm_gite_path(@gite.id), class: "btn btn-success" %>

        <%# <% if admin_signed_in? %>

          <!-- <div class="row"> -->
          <!--  -->
          <!--   <div class="col&#45;md&#45;12"> -->
          <!--     <div id='calendar'></div> -->
          <!--   </div> -->
          <!--  -->
          <!-- </div> <!&#45;&#45; end row &#45;&#45;> -->

        <%# <% else %>


          <div class="row">

            <div class="col-md-12">
              <!--<h2> Gîte <%#= raw(@gite.title) %> </h2>
              <p class="price"> <%#= raw(@gite.text2) %> </p>
              <div class="description">
                <div id="text3"><p><%#= raw(@gite.text3) %></p></div>
              </div>-->

              <div class="border-title"> <h3> Gîte <%= raw(@gite.title) + " : " + raw(@gite.text2) %> <span> </span> </h3> </div>

                              <div class="tabs-container">
                                  <!-- <ul class="tabs&#45;frame"> -->
                                  <!--     <li><a href="#"> <%= t 'gites.gite.informations' %> </a></li> -->
                                  <!-- </ul> -->
                                  <div class="tabs-frame-content">
                                      <p>
                                          <%= raw(@gite.text3) %>
                                      </p>
                                  </div>
                              </div><!-- **Tabs Container - End** -->

            </div>

            <!-- <div class="col&#45;md&#45;6"> -->
            <!--   <div id='public_calendar'></div> -->
            <!-- </div> -->

          </div> <!-- end row -->

        <%# <% end %>

        <hr/>

        <ul class="row gallery">
              <% if @gite.text10_url %>
                <li class="col-md-3">
                  <a href="<%= @gite.text10.standard.url %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.text10.standard.url, class: "img-responsive" %> </a>
                </li>
              <% end %>
              <% if @gite.text9_url %>
                <li class="col-md-3">
                  <a href="<%= @gite.text9.standard.url %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.text9.standard.url, class: "img-responsive" %> </a>
                </li>
              <% end %>
              <% if @gite.text8_url %>
                <li class="col-md-3">
                  <a href="<%= @gite.text8.standard.url %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.text8.standard.url, class: "img-responsive" %> </a>
                </li>
              <% end %>
              <% if @gite.text7_url %>
                <li class="col-md-3">
                  <a href="<%= @gite.text7.standard.url %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.text7.standard.url, class: "img-responsive" %> </a>
                </li>
              <% end %>
        </ul>

        <ul class="row gallery">

              <% if @gite.text6_url %>
                <li class="col-md-3">
                  <a href="<%= @gite.text6.standard.url %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.text6.standard.url, class: "img-responsive" %> </a>
                </li>
              <% end %>
              <% if @gite.text5_url %>
                <li class="col-md-3">
                  <a href="<%= @gite.text5.standard.url %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.text5.standard.url, class: "img-responsive" %> </a>
                </li>
              <% end %>
              <% if @gite.text4_url %>
                <li class="col-md-3">
                  <a href="<%= @gite.text4.standard.url %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.text4.standard.url, class: "img-responsive" %> </a>
                </li>
              <% end %>
              <% if @gite.image_url %>
                <li class="col-md-3">
                  <a href="<%= @gite.image.standard.url %>" data-gal="prettyPhoto[gallery]" title=""> <%= image_tag @gite.image.standard.url, class: "img-responsive" %> </a>
                </li>
              <% end %>
        </ul>

      </div><!-- **Container - End** -->
