<style>




</style>

<%= link_to "Editer les tarifs", edit_crm_tarif_path(1), class: "btn btn-info btn-large btn-block" %>


      <div class="clear"> </div>
      <div class="hr-invisible-small"> </div>


<div class="container-fluid">
<div class="clear"> </div>
<table class="tarifs table table-striped table-bordered">
    <tr>
      <th style="color:red;" id="year" > <%= raw(@tarif.year) %> </th>

        <th><%= t 'tarif.periode1' %></th>

        <th><%= t 'tarif.periode2' %></th>

        <th><%= t 'tarif.periode3' %></th>
    </tr>
    <tr>
      <td><a href="/gites/althea">Gîte Althéa F4 7/8p</a></td>

      <td id="prixa1" ><%= raw(@tarif.prixa1) %></td>
      <td id="prixa2" ><%= raw(@tarif.prixa2) %></td>
      <td id="prixa3" ><%= raw(@tarif.prixa3) %></td>

    </tr>
    <tr>
        <td><a href="/gites/begonia">Gîte Bégonia F5 8p</a></td>

      <td id="prixb1" ><%= raw(@tarif.prixb1) %></td>
      <td id="prixb2" ><%= raw(@tarif.prixb2) %></td>
      <td id="prixb3" ><%= raw(@tarif.prixb3) %></td>
    </tr>
    <tr>
        <td><a href="/gites/camelia">Gîte Camélia stmezz 4p</a></td>

        <td id="prixc1" ><%= raw(@tarif.prixc1) %></td>
      <td id="prixc2" ><%= raw(@tarif.prixc2) %></td>
      <td id="prixc3" ><%= raw(@tarif.prixc3) %></td>
    </tr>
    <tr>
        <td><a href="/gites/dhalia">Gîte Dahlia F2 2/3p</a></td>

        <td id="prixd1" ><%= raw(@tarif.prixd1) %></td>
      <td id="prixd2" ><%= raw(@tarif.prixd2) %></td>
      <td id="prixd3" ><%= raw(@tarif.prixd3) %></td>
    </tr>
    <tr>
        <td><a href="/gites/erica">Gîte Erica F2 2p</a></td>

        <td id="prixe1" ><%= raw(@tarif.prixe1) %></td>
      <td id="prixe2" ><%= raw(@tarif.prixe2) %></td>
      <td id="prixe3" ><%= raw(@tarif.prixe3) %></td>
    </tr>
    <tr>
        <td><a href="/gites/fuchsia">Gîte Fuchsia F2 3p</a></td>

        <td id="prixf1" ><%= raw(@tarif.prixf1) %></td>
      <td id="prixf2" ><%= raw(@tarif.prixf2) %></td>
      <td id="prixf3" ><%= raw(@tarif.prixf3) %></td>
    </tr>
    <tr>
        <td><a href="/gites/gardenia">Gîte Gardénia F2 4p</a></td>

        <td id="prixg1" ><%= raw(@tarif.prixg1) %></td>
      <td id="prixg2" ><%= raw(@tarif.prixg2) %></td>
      <td id="prixg3" ><%= raw(@tarif.prixg3) %></td>
    </tr>
    <tr>
        <td><a href="/gites/hortensia">Gîte Hortensia ST 2p</a></td>

        <td id="prixh1" ><%= raw(@tarif.prixh1) %></td>
      <td id="prixh2" ><%= raw(@tarif.prixh2) %></td>
      <td id="prixh3" ><%= raw(@tarif.prixh3) %></td>
    </tr>
    <tr>
        <td><a href="/gites/iris">Gîte Iris F3</a></td>

        <td id="prixi1" ><%= raw(@tarif.prixi1) %></td>
      <td id="prixi2" ><%= raw(@tarif.prixi2) %></td>
      <td id="prixi3" ><%= raw(@tarif.prixi3) %></td>
    </tr>
    <tr>
        <td><a href="/gites/kiwi">Gîte Kiwi ST 1/2p</a></td>

        <td id="prixk1" ><%= raw(@tarif.prixk1) %></td>
      <td id="prixk2" ><%= raw(@tarif.prixk2) %></td>
      <td id="prixk3" ><%= raw(@tarif.prixk3) %></td>
    </tr>
    <tr>
        <td><a href="/gites/lila">Gîte Lila F2 2p</a></td>

        <td id="prixl1" ><%= raw(@tarif.prixl1) %></td>
      <td id="prixl2" ><%= raw(@tarif.prixl2) %></td>
      <td id="prixl3" ><%= raw(@tarif.prixl3) %></td>
    </tr>

</table>

</div>

      <div class="clear"> </div>
      <div class="hr-invisible-small"> </div>
