<!-- **Footer** -->
    <footer id="footer">
    	<div class="container">

			<div class="column one-fourth">
                <aside class="widget">
                    <h3 class="widgettitle"> <a href="" title=""> <%= t 'home.footer.firstpart.title' %> </a> </h3>
                    <ul>
                        <li> <a href="/photos" title=""> Galerie Photo </a> </li>
                        <li> <a href="/" title=""> <%= t 'home.footer.firstpart.accueil' %> </a> </li>
                        <li> <a href="/contact" title=""> <%= t 'home.footer.firstpart.contact' %> </a> </li>
                        <li> <a href="/gites" title=""> <%= t 'home.footer.firstpart.gites' %> </a> </li>
                        <li> <a href="/tarifs/1" title=""> <%= t 'home.footer.firstpart.tarifs' %> </a> </li>
                        <li> <a target="_blank" href="http://www.avene-orb-gravezon.com/spip.php?rubrique24" title=""> <%= t 'home.footer.firstpart.patrimoine' %> </a> </li>
                    </ul>
                </aside>
			</div>

            <div class="column one-fourth">
                <aside class="widget">
                    <h3 class="widgettitle"> <a href="" title=""> <%= t 'home.footer.secondpart.title' %> </a> </h3>
                    <ul class="product_list_widget">
                        <li>
                            <a target="_blank" href="http://www.avenecenter.com/fr" title="avene les bains">
                                <%= image_tag "avene.jpg" %>
                            </a>
                            <br/><%= t 'home.footer.secondpart.text1' %><br/>
                            <span class="amount">  </span>
                        </li>
                        <li>
                            <a target="_blank" href="https://lerabling.org" title="Lerab Ling">
                                <%= image_tag "temple1.jpg" %>
                            </a>
                            <br/><%= t 'home.footer.secondpart.text2' %><br/>
                            <span class="amount"> </span>
                        </li>
                        <li>
                            <a target="_blank" href="https://lacouvertoirade.com" title="La couvertoirade">
                                <%= image_tag "couvertoirade.jpg" %>
                            </a>
                            <br/><%= t 'home.footer.secondpart.text3' %></br/>
                            <span class="amount">  </span>
                        </li>
                    </ul>
                </aside>
			</div>


        	<div class="column one-fourth">
                <aside class="widget">
                    <h3 class="widgettitle"> <a href="" title=""> <%= t 'home.footer.thirdpart.title' %> </a> </h3>
                    <ul class="product_list_widget">
                        <li>
                            <a target="_blank" href="http://www.weezigo.com/Velo-et-VTT_Avene-34260" title="vtt">
                                <%= image_tag "vtt.jpg" %>
                            </a>
                            <br/><%= t 'home.footer.thirdpart.text1' %><br/>
                            <span class="amount"> </span>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.visorando.com/randonnee-avene.html" title="rando">
                                <%= image_tag "randonnee.jpg" %>
                            </a>
                            <br/><%= t 'home.footer.thirdpart.text2' %><br/>
                            <span class="amount">  </span>
                        </li>
                        <li>
                            <a href="" title="">
                                <%= image_tag "ping-pong.jpg" %>
                            </a>
                            <br/><%= t 'home.footer.thirdpart.text3' %></br/>
                            <span class="amount">  </span>
                        </li>
                    </ul>
                </aside>
            </div>

            <div class="column one-fourth last">
            	<aside class="widget">
                    <h3 class="widgettitle"> <a href="" title=""> <%= t 'home.footer.partfour.title' %> </a> </h3>
                	<p> Hameau de Rouvignac 34260 Avène </p>
                    <p> <span class="icon-phone"> </span> <%= t 'home.footer.partfour.telephone' %> : 04 67 23 20 12 </p>
                    <p> <span class="icon-mobile-phone"> </span> <%= t 'home.footer.partfour.portable' %> : 06 82 02 99 24 </p>
                    <p> <span class="icon-envelope-alt"> </span> Email : <a href="mailto:rouvignac@gmail.com"> rouvignac@gmail.com </a> </p>
                    <p> <span class="icon-globe"> </span> Website : <a href="" title=""> www.rouvignac.fr </a> </p>
                    <ul class="social-icons">
	                    <li>
	                        <a href="https://www.facebook.com/pages/Rouvignac/438933839538562" target="_blank" title="">
	                        	<%= image_tag "facebook.png" %>
	                        	<%= image_tag "facebook.png" %>
	                        </a>
	                    </li>
	                    <li>
	                        <a href="https://plus.google.com/106964346367233775864/about" target="_blank" title="">
	                            <%= image_tag "google.png" %>
	                            <%= image_tag "google.png" %>
	                        </a>
	                    </li>
	                    <li>
	                        <a href="https://twitter.com/rouvignac" target="_blank" title="">
	                            <%= image_tag "twitter.png" %>
	                            <%= image_tag "twitter.png" %>
	                        </a>
	                    </li>
                	</ul>
                </aside>
            </div>

        </div>

        <div class="copyright">
        	<div class="container">
                <p> &copy; Rouvignac <%= Time.now.year %> | <%= t 'home.footer.copyright' %> </p>
            </div>
        </div>

    </footer><!-- **Footer - End** -->
