<!-- **Header** -->
<header id="header_crm">

  <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/crm/clients">Rouvignac CRM</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="<%= 'active' if current_page?(crm_clients_path) %>">
                <%= link_to "Clients", crm_clients_path %>
              </li>
              <li class="<%= 'active' if current_page?(crm_reservations_path) %>">
                <%= link_to "Reservations", crm_reservations_path %>
              </li>
              <li class="<%= 'active' if current_page?(crm_gites_path) %>">
                <%= link_to "Gîtes", crm_gites_path %>
              </li>
              <li class="<%= 'active' if current_page?(crm_photos_path) %>">
                <%= link_to "Photos", crm_photos_path %>
              </li>
              <li class="<%= 'active' if current_page?(crm_tarif_path(1)) %>">
                <%= link_to "Tarifs", crm_tarif_path(1) %>
              </li>
              <li class="<%= 'active' if current_page?(crm_calendar_index_path) %>">
                <%= link_to "Calendar", crm_calendar_index_path %>
              </li>
              <li class="<%= 'active' if current_page?(crm_energy_prices_path) %>">
                <%= link_to "Energy Price", crm_energy_prices_path %>
              </li>
              <li class="">
                <a href="#">Contrats</a>
              </li>
              <li class="">
                <a href="#">factures</a>
              </li>
              <li class="">
                <a href="#">Acomptes</a>
              </li>
              <li class="">
                <a href="/administration">Back</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>

</header><!-- **Header - End** -->
