

<!-- **Slider Section** -->
<section id="slider">

  <%= video_tag(["rouvignac.mp4"], id: "dronevid", poster: "rouvignacbg.jpg", type: "video/mp4", style: "width:100%;max-height:500px;object-fit:fill;", autoplay: :autoplay, loop: :loop, muted: :muted) %>

</section><!-- ** Section Slider - End** -->


    <div class="container-fluid">

            <div class="hr-invisible-small"> </div>
            <div class="clear"> </div>



        <div class="intro-text type1">
            <h4></h4>
                <p style="text-align: left;font-size: 1.1em; color: #2E1801;line-height:200%;font-family: 'Chalkduster'"><%= t 'home.intro.bigtext_html' %></p>
            <h6></h6>
        </div>



            <div class="hr-invisible-small"> </div>
            <div class="clear"> </div>




         <div class="column one-fourth">

        </div>

        <div class="column one-fourth">
            <div class="ico-content type1">
                <div class="icon"> <span class="icon-laptop"> </span> </div>
                <h5> <a href="javascript:void(0);" title=""> WIFI </a> </h5>
                <p> <%= t 'home.bigicon.wifi' %> </p>
            </div>
        </div>

        <div class="column one-fourth">
            <div class="ico-content type1">
                <div class="icon"> <span class="icon-tint"> </span> </div>
                <h5> <a href="javascript:void(0);" title=""> <%= t 'home.bigicon.pool' %> </a> </h5>
                <p> <%= t 'home.bigicon.piscine' %> </p>
            </div>
        </div>

        <div class="column one-fourth last">

        </div>



            <div class="clear"> </div>
            <div class="hr-invisible-small"> </div>




        <div class="border-title"> <h2> <%= t 'home.prestations.title' %> <span> </span> </h2> </div>


        <div class="column one-third presta">
            <div class="ico-content type2">
                <div class="icon"> <span class="icon-home"> </span> </div>
                <h5> <a href="javascript:void(0);" title=""> <%= t 'home.prestations.accueil.title' %> </a> </h5>
                <p> <%= t 'home.prestations.accueil.text' %> </p>
            </div>
        </div>
        <div class="column one-third presta last">
            <div class="ico-content type2">
                <div class="icon"> <span class="icon-food"> </span> </div>
                <h5> <a href="javascript:void(0);" title=""> <%= t 'home.prestations.breakfast.title' %> </a> </h5>
                <p> <%= t 'home.prestations.breakfast.text' %> </p>
            </div>
        </div>

        <div class="column one-third presta">
            <div class="ico-content type2">
                <div class="icon"> <span class="icon-fullscreen"> </span> </div>
                <h5> <a href="javascript:void(0);" title=""> <%= t 'home.prestations.chauffage.title' %> </a> </h5>
                <p> <%= t 'home.prestations.chauffage.text' %> </p>
            </div>
        </div>
        <div class="column one-third presta">
            <div class="ico-content type2">
                <div class="icon"> <span class="icon-certificate"> </span> </div>
                <h5> <a href="javascript:void(0);" title=""> <%= t 'home.prestations.draps.title' %> </a> </h5>
                <p> <%= t 'home.prestations.draps.text' %> </p>
            </div>
        </div>
        <div class="column one-third presta last">
            <div class="ico-content type2">
                <div class="icon"> <span class="icon-github"> </span> </div>
                <h5> <a href="javascript:void(0);" title=""> <%= t 'home.prestations.chiens.title' %> </a> </h5>
                <p> <%= t 'home.prestations.chiens.text' %> </p>
            </div>
        </div>
        <div class="column one-third presta">
            <div class="ico-content type2">
                <div class="icon"> <span class="icon-money"> </span> </div>
                <h5> <a href="javascript:void(0);" title=""> <%= t 'home.prestations.cheques.title' %> </a> </h5>
                <p> <%= t 'home.prestations.cheques.text' %> </p>
            </div>
        </div>




            <div class="clear"> </div>
            <div class="hr-invisible-small"> </div>




    </div><!-- div container -->




    <div class="container">

        <div class="border-title"> <h2> <%= t 'home.lesgites.title' %> <span> </span> </h2> </div>

            <!-- **Portfolio Carousel Wrapper** -->
            <div class="portfolio-carousel-wrapper gallery">
                <!-- **Portfolio Carousel** -->
                <ul class="portfolio-carousel">


                    <% @gites.each do |gite| %>

                        <li class="portfolio three-column">

                            <div class="portfolio-thumb">

                                <%= link_to gite do %>
                                    <%= image_tag gite.text10_url if gite.text10_url %>
                                <% end %>

                            </div>

                            <%= link_to gite do %>
                              <div class="portfolio-detail">
                                  <h5> <%= gite.title %> </h5>
                                  <p> <%= gite.text2 %> </p>
                              </div>
                            <% end %>

                        </li>

                    <% end %>


                </ul><!-- **Portfolio Carousel - End** -->


                <div class="carousel-arrows">
                    <a href="#" title="" class="portfolio-prev-arrow"> <span class="icon-chevron-left"> </span> </a>
                    <a href="#" title="" class="portfolio-next-arrow"> <span class="icon-chevron-right"> </span> </a>
                </div>


            </div><!-- **Portfolio Carousel Wrapper - End** -->


        </div><!-- div border-title -->


        <div class="hr-invisible-small"> </div>


    </div><!-- container -->
