<!-- **Slider Section** -->
    	<section id="slider">
        
            <div id="layerslider-container-fw">    
                <div id="layerslider" style="width:100%; height:400px; margin:0px auto; ">
                        
                  <div class="ls-layer"  style="slidedirection:top; slidedelay:7000; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:500; transition3d:all;">      
                  
                      <img alt="layer slider" src="/rouvignacbg.jpg" class="ls-bg">
                      <!--<img alt="layer slider" class="ls-s-1"  src="http://placehold.it/432x413.png/000000"  style="position:absolute; top:79px; left:468px; slidedirection:top;   durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                      <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/426x257.png/000000"  style="position:absolute; top:184.00001525878906px; left:634px; slidedirection:right;   durationin:2000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                      <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/253x308.png/000000"  style="position:absolute; top:175.00001525878906px; left:296px; slidedirection:left;   durationin:2500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                      <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/114x216.png/000000"  style="position:absolute; top:245.00001525878906px; left:452px; slidedirection:left;   durationin:3000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                     --><h2 class="ls-s-1" style="position:absolute; top:235px; left:-4px; slidedirection:left;  durationin:3500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;"> Gîtes de Rouvignac </h2>
                        <div class="ls-s-1 button-text2"  style="position:absolute; top:283.00001525878906px; left:149px; display:block; slidedirection:bottom;  durationin:4000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0">
                            <a style=""> Commune d'Avène </a>
                        </div>  
                    </div>        
                    
                    <div class="ls-layer"  style="slidedirection:right; slidedelay:6000; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; timeshift:0; transition3d:all;">
                    
                        <img alt="layer slider" src="/rouvignacbg1.jpg" class="ls-bg">
                        <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/442x477.png/000000"  style="position:absolute; top:20px; left:20px; slidedirection:left;   durationin:1500; durationout:1500; easingin:easeOutBack; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                        <p class="ls-s-1" style="position:absolute; top:141px; left:548px; slidedirection:fade;  durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;  width:420px; height:200px; background:#ffffff;  white-space:nowrap;">&nbsp; </p>
                        <h3 class="ls-s-1" style="position:absolute; top:158px; left:570px; slidedirection:top;  durationin:2000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;"> Tons of HTML Elements </h3>
                        <p class="ls-s-1 text1" style="position:absolute; top:200.00001525878906px; left:571px; slidedirection:right;  durationin:2500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; width:380px; "> Vivamus mattis, magna sed tempor pellentesque, leo nisl condimentum enim, sed condimentum neque libero a ante. Nulla id orci nulla. </p>
                        
                        <div class="ls-s-1 button-text"  style="position:absolute; top:288.00001525878906px; left:571px; display:block; slidedirection:bottom;  durationin:3000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0">
                        <a style=""> Buy Now </a>
                        </div>        
                    </div>
                    
                    <div class="ls-layer"  style="slidedirection:top; slidedelay:7000; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:500; timeshift:0; transition2d:all; ">
                    
                        <img alt="layer slider" src="/rouvignacbg.jpg" class="ls-bg">
                        <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/379x482.png/000000"  style="position:absolute; top:19px; left:75px; slidedirection:left;   durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                        <h2 class="ls-s-1" style="position:absolute; top:147.00001525878906px; left:585px; slidedirection:top;  durationin:2000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;"> Multi Purpose HTML5 template </h2>
                        <h4 class="ls-s-1" style="position:absolute; top:196.00001525878906px; left:585px; slidedirection:right;  durationin:2500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;"> With a Clean & Modern design </h4>
                        <p class="ls-s-1 text2" style="position:absolute; top:238.00001525878906px; left:585px; slidedirection:bottom;  durationin:3500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie nunc non erat eleifend sed laoreet
                          purus venenatis. Maecenas pretium orci at lacus volutpat id tempus velit pharetra. </p>         
                    
                    </div>
                  
                  
                  
                    <div class="ls-layer"  style="slidedirection:right; slidedelay:4000; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; timeshift:0; transition3d:all; ">
                    
                        <img alt="layer slider" src="/rouvignacbg1.jpg" class="ls-bg">
                        <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/182x332.png/000000"  style="position:absolute; top:168px; left:17px; slidedirection:left;   durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                        <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/182x332.png/000000"  style="position:absolute; top:169px; left:232px; slidedirection:right;   durationin:2000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                        <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/608x499.png/000000"  style="position:absolute; top:5px; left:447px; slidedirection:bottom;   durationin:4000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                        <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/328x27.png/000000"  style="position:absolute; top:46px; left:61px; slidedirection:top;   durationin:3000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                        <h5 class="ls-s-1" style="position:absolute; top:85px; left:114px; slidedirection:fade;  durationin:3500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;"> Lorem ipsum dolor sit </h5>        
                    
                    </div>
                        
                        
                </div>
            </div>

        </section><!-- ** Section Slider - End** -->


        <div class="hr-invisible-small"> </div>

        <div class="intro-text type1">
            <h4> Bienvenue sur le site du Hâmeau de <span class="highlight"> Rouvignac </span> situé sur la Commune d'Avène </h4>
            <h6> Vivamus mattis, magna sed tempor pellentesque, leo nisl </h6>
        </div>
            
        <div class="hr-invisible-small"> </div>
        <div class="clear"> </div>


        <div class="container">
            
            <div class="column one-fourth">
                <div class="ico-content type1">
                    <div class="icon"> <span class="icon-suitcase"> </span> </div>
                    <h5> <a href="" title=""> Accueil </a> </h5>
                    <p> Lorem ipsum dolor sit amet, consectet adipiscing elit. Etiam quis placerat urna. Nulla nulla diam, adipiscing non ornardfe non, commodo </p>
                </div>
            </div>
            <div class="column one-fourth">
                <div class="ico-content type1">
                    <div class="icon"> <span class="icon-laptop"> </span> </div>
                    <h5> <a href="" title=""> WIFI </a> </h5>
                    <p> Lorem ipsum dolor sit amet, consectet adipiscing elit. Etiam quis placerat urna. Nulla nulla diam, adipiscing non ornardfe non, commodo </p>
                </div>
            </div>
            <div class="column one-fourth">
                <div class="ico-content type1">
                    <div class="icon"> <span class="icon-tint"> </span> </div>
                    <h5> <a href="" title=""> Piscine </a> </h5>
                    <p> Lorem ipsum dolor sit amet, consectet adipiscing elit. Etiam quis placerat urna. Nulla nulla diam, adipiscing non ornardfe non, commodo </p>
                </div>
            </div>
            <div class="column one-fourth last">
                <div class="ico-content type1">
                    <div class="icon"> <span class="icon-leaf"> </span> </div>
                    <h5> <a href="" title=""> Nature </a> </h5>
                    <p> Lorem ipsum dolor sit amet, consectet adipiscing elit. Etiam quis placerat urna. Nulla nulla diam, adipiscing non ornardfe non, commodo </p>
                </div>
            </div>
            
            <div class="clear"> </div>
            <div class="hr-invisible-small"> </div>

        </div><!-- div container -->




        <div class="container">

            <div class="border-title"> <h2> Les Gîtes <span> </span> </h2> </div>
                
                <!-- **Portfolio Carousel Wrapper** -->
                <div class="portfolio-carousel-wrapper gallery">
                    <!-- **Portfolio Carousel** -->
                    <ul class="portfolio-carousel">


                        <% @gites.each do |gite| %>

                            <li class="portfolio three-column">

                                <div class="portfolio-thumb">

                                    <%= image_tag gite.text10 %>

                                    <div class="image-overlay">
                                        <%= link_to gite.text10, :class => 'zoom', "data-gal" => "prettyPhoto[gallery#{gite.title}]" do %>
                                            <span class="icon-fullscreen"> </span>
                                        <% end %>
                                        <%= link_to gite.text9, :class => 'zoom', "data-gal" => "prettyPhoto[gallery#{gite.title}]" do %>
                                            <span class="icon-fullscreen"> </span>
                                        <% end %>

                                        <%= link_to gite, :class => 'link' do %>
                                            <span class="icon-external-link"> </span>
                                        <% end %>
                                    </div>

                                </div>

                                <div class="portfolio-detail">
                                    <h5> <%= link_to "Gite #{gite.title}", gite %> </h5>
                                    <p> <%= gite.text2 %> </p>
                                </div>

                            </li>

                        <% end %>

                        
                    </ul><!-- **Portfolio Carousel - End** -->

                        
                    <div class="carousel-arrows">
                        <a href="#" title="" class="portfolio-prev-arrow"> <span class="icon-chevron-left"> </span> </a>
                        <a href="#" title="" class="portfolio-next-arrow"> <span class="icon-chevron-right"> </span> </a>
                    </div>

                        
                </div><!-- **Portfolio Carousel Wrapper - End** -->

                
            </div><!-- div border-title -->


        </div><!-- container -->
