<div class="container">

  <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div style="display: block;">

      <div class="field" style="float: left;">
        <%= f.label :name %><br />
        <%= f.select :name, options_for_select([["Althéa", "Althéa"], ["Bégonia", "Bégonia"], ["Camélia", "Camélia"], ["Dahlia", "Dahlia"], ["Erica", "Erica"], ["Fuchsia", "Fuchsia"], ["Gardénia", "Gardénia"], ["Hortensia", "Hortensia"], ["Iris", "Iris"], ["Kiwi", "Kiwi"], ["Lila", "Lila"]]) %>
      </div>
      <div class="field" style="float: left; padding-left: 20px;">
        <%= f.label :start_at %><br />
        <%= f.date_select :start_at %>
      </div>
      <div class="field" style="float: left; padding-left: 20px;">
        <%= f.label :end_at %><br />
        <%= f.date_select :end_at %>
      </div>
      <div class="field" style="float: left; padding-left: 20px;">
        <%= f.label :color %><br />
        <%= f.text_field :color %>
      </div>
      <div class="actions" style="display: block; float: right; ">
        <%= f.submit "Creer une nouvelle Période", :style => "background: url('/assets/bouton.jpg') no-repeat; padding: 5px 5px 5px 5px; color: white;" %>
      </div>

    </div>


  <% end %>

</div>