<div class="hr-invisible-small"> </div>
<div class="hr-invisible-small"> </div>


<div class="container">

  <h1 style="color:green;">Liste des periodes de location</h1>

  <table style="border: 2px solid green;">
    <tr>
      <th>Nom du Gîte</th>
      <th style="padding-left:20px;">Date de début</th>
      <th style="padding-left:20px;">Date de fin</th>
      <th style="padding-left:20px;">Color</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @events.each do |event| %>
    <tr style="background-color:<%= event.color %>">
      <td style="color:white;font-weight:bold;"><%= event.name %></td>
      <td  style="padding-left:20px;color:white"><%= event.start_at.strftime("%d %B, %Y") %></td>
      <td  style="padding-left:20px;color:white"><%= event.end_at.strftime("%d %B, %Y") %></td>
      <td  style="padding-left:20px;"><%= event.color %></td>
      <!--<td><%= link_to 'Show', event, :class => "btn btn-info", :style => "margin-left:20px;width:150px;" %></td>-->
      <td><%= link_to 'Edit', edit_event_path(event), :class => "btn btn-primary", :style => "margin-left:20px;width:300px;" %></td>
      <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning", :style => "margin-left:20px;width:100px;margin-right:10px;" %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'Créer une nouvelle periode de location', new_event_path, :class => 'btn btn-large btn-success' %>


</div>



<style>
tr td{
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
tr th{
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
</style>
