
<% if admin_signed_in? %>
    <br/>
    <div class="container">

        <table style="border: 2px solid green;">
          <tr>
            <th>Titre</th>
            <th>Commentaires</th>
            <th>Image</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        <% @photos.each do |photo| %>
          <tr>
            <td><%= photo.title %></td>
            <td><%= photo.content %></td>
            <td><%= image_tag photo.image_url, :size => "50x50" %></td>
            <td><%= link_to 'Show', crm_photo_path(photo), :class => "btn btn-success", :style => "margin-left:20px;width:250px;" %></td>
            <td><%= link_to 'Edit', edit_crm_photo_path(photo), :class => "btn btn-warning", :style => "margin-left:20px;width:250px;" %></td>
            <td><%= link_to 'Destroy', crm_photo_path(photo), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :style => "margin-left:20px;margin-right:10px;" %></td>
          </tr>
        <% end %>
        </table>
        <br />
        <%= link_to 'New Photo', new_crm_photo_path, :class => "btn btn-success" %>

    </div>

<br />

<style>
tr td{
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
tr th{
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
</style>

<% else %>


<style type="text/css">

    .thumbnail img:hover{
        box-shadow: 0px 0px 15px #dddddd;
    }
    .col-md-3 {
      overflow: hidden;
    }
    ul.gallery li {
      list-style: none;
      max-height: 20em;
      margin-top: 1em;
    }
    .row {
      margin-right: 0px;
    }

</style>
<br/>
<br/>
<section class="container-fluid">

        <ul class="row gallery">

            <% @photos.each_with_index do |photo, i| %>
              <% if [0,1,2,3].include?(i) %>
                <li class="col-md-3">
                  <a href="<%= photo.image_url %>" data-gal="prettyPhoto[gallery]">
                    <%= image_tag photo.image_url(:standard), class: "img-responsive", alt: photo.content %>
                  </a>
                </li>
              <% end %>
            <% end %>

        </ul>

        <ul class="row gallery">

            <% @photos.each_with_index do |photo, i| %>
              <% if [4,5,6,7].include?(i) %>
                <li class="col-md-3">
                  <a href="<%= photo.image_url %>" data-gal="prettyPhoto[gallery]">
                    <%= image_tag photo.image_url(:standard), class: "img-responsive", alt: photo.content %>
                  </a>
                </li>
              <% end %>
            <% end %>

        </ul>

        <ul class="row gallery">

            <% @photos.each_with_index do |photo, i| %>
              <% if [8,9,10,11].include?(i) %>
                <li class="col-md-3">
                  <a href="<%= photo.image_url %>" data-gal="prettyPhoto[gallery]">
                    <%= image_tag photo.image_url(:standard), class: "img-responsive", alt: photo.content %>
                  </a>
                </li>
              <% end %>
            <% end %>

        </ul>

        <ul class="row gallery">

            <% @photos.each_with_index do |photo, i| %>
              <% if [12,13,14,15].include?(i) %>
                <li class="col-md-3">
                  <a href="<%= photo.image_url %>" data-gal="prettyPhoto[gallery]">
                    <%= image_tag photo.image_url(:standard), class: "img-responsive", alt: photo.content %>
                  </a>
                </li>
              <% end %>
            <% end %>

        </ul>

        <ul class="row gallery">

            <% @photos.each_with_index do |photo, i| %>
              <% if [16,17,18,19].include?(i) %>
                <li class="col-md-3">
                  <a href="<%= photo.image_url %>" data-gal="prettyPhoto[gallery]">
                    <%= image_tag photo.image_url(:standard), class: "img-responsive", alt: photo.content %>
                  </a>
                </li>
              <% end %>
            <% end %>

        </ul>

        <ul class="row gallery">

            <% @photos.each_with_index do |photo, i| %>
              <% if [20,21,22,23].include?(i) %>
                <li class="col-md-3">
                  <a href="<%= photo.image_url %>" data-gal="prettyPhoto[gallery]">
                    <%= image_tag photo.image_url(:standard), class: "img-responsive", alt: photo.content %>
                  </a>
                </li>
              <% end %>
            <% end %>

        </ul>

        <ul class="row gallery">

            <% @photos.each_with_index do |photo, i| %>
              <% if [24,25,26,27].include?(i) %>
                <li class="col-md-3">
                  <a href="<%= photo.image_url %>" data-gal="prettyPhoto[gallery]">
                    <%= image_tag photo.image_url(:standard), class: "img-responsive", alt: photo.content %>
                  </a>
                </li>
              <% end %>
            <% end %>

        </ul>

</section>

<% end %>
