      
<br/>       
<br/>       
<section class="container">

    <article class="span12">
        
        <ul class="thumbnails">

            <% @photos.each do |photo| %>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="<%= photo.image_url %>" rel="prettyPhoto[gallery]">
                            <img src="<%= photo.image_url(:standard) %>" alt="rgc">
                        </a>
                    </div>
                </li>
            <% end %>

        </ul>

    </article>

</section>


<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.title %></td>
    <td><%= photo.content %></td>
    <td><%= photo.image %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>

