
<%= link_to "Create New Reservation", new_crm_reservation_path, class: "btn btn-info", style: "float:right;" %>
<h1 style="text-align:center;">Reservation List</h1>

<table class="table table-striped">

  <thead>
    <tr>
      <th>ID</th>
      <th>From</th>
      <th>To</th>
      <th>Client</th>
      <th>Gite</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.from %></td>
        <td><%= reservation.to %></td>
        <td><%= reservation.client.last_name %></td>
        <td><%= reservation.gite.title %></td>
        <td><%= link_to "Show", crm_reservation_path(reservation), class: 'btn btn-success' %></td>
        <td><%= link_to "Edit", edit_crm_reservation_path(reservation), class: 'btn btn-info' %></td>
        <td><%= link_to "Destroy", crm_reservation_path(reservation), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
