<!-- **Header** -->
	<header id="header">

    	<!-- **Top Bar** -->
    	<div id="top-bar">
        	<div class="container">
            	<p class="phone-no"> &nbsp; <span>04 67 23 20 12 / 06 82 02 99 24</span>  --  <a href="mailto:rouvignac@gmail.com">  rouvignac@gmail.com </a> </p>

                <% if admin_signed_in? %>
                    <p style="margin-bottom:-20px;float:right;margin-left:20px;">
                        <%= link_to('Admin', "/administration", :class => 'btn btn-info') %>
                        <%= link_to('Logout', destroy_admin_session_path, :class => 'btn btn-warning', :method => :delete) %>
                    </p>
                <% end %>



                <ul class="social-icons">
                    <li>
                        <a href="https://www.facebook.com/pages/Rouvignac/438933839538562" target="_blank" title="">
                        	<%= image_tag "facebook.png" %>
                        	<%= image_tag "facebook.png" %>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/106964346367233775864/about" target="_blank" title="">
                            <%= image_tag "google.png" %>
                            <%= image_tag "google.png" %>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/rouvignac" target="_blank" title="">
                            <%= image_tag "twitter.png" %>
                            <%= image_tag "twitter.png" %>
                        </a>
                    </li>
                    <li>
                        <a href="/administration" title="">
                            <%= image_tag "delicious.png" %>
                            <%= image_tag "delicious.png" %>
                        </a>
                    </li>
                </ul>

								<% unless admin_signed_in? %>
                	<div class="social-icons"><%= link_to "Voir la Galerie photos", "/photos", :class => "btn", :style => "margin-right:20px;" %></div>
                	<div class="social-icons"><%= link_to "Rouvignac est en vente", "/hameau-en-vente", :class => "btn", :style => "margin-right:20px;" %></div>
								<% end %>
            </div>
        </div><!-- **Top Bar - End** -->

        <div class="container">
        	<!-- **Logo - End** -->
            <div id="logo">
            	<h2>
                    <a href="/" title=""> Gîtes de <span> Rouvignac </span> </a>
                </h2>
            </div><!-- **Logo - End** -->

            <div id="logo" style="margin-left: 30px;">
                <ul class="countryflagse">
                    <!--<%= link_to( (image_tag '/France.png'), url_for(:locale => "fr") ) %>-->
                    <!--<div class="england"> </div>-->
                    <li><%= link_to( "", url_for(:locale => "en"), :class => "england", :id => "en" ) %></li>
                    <li><%= link_to( "", url_for(:locale => "es"), :class => "spain", :id => "sp" ) %></li>
                    <li><%= link_to( "", url_for(:locale => "de"), :class => "germany", :id => "de" ) %></li>
                    <li><%= link_to( "", url_for(:locale => "nl"), :class => "netherlands", :id => "nl" ) %></li>
                </ul>
            </div>
						<style media="screen">


						</style>

            <!-- **Navigation** -->
            <nav id="main-menu-2">
            	<ul>
										<%= link_to(root_url(:locale => I18n.locale)) do %>
											<li><%= t 'home.navbar.accueil' %></li>
										<% end %>
										<!--<li> <%#= link_to( (t 'home.navbar.accueil'), root_url(:locale => I18n.locale)) %> </li>-->
										<%= link_to(gites_url(:locale => I18n.locale)) do %>
											<li><%= t 'home.navbar.gites' %></li>
										<% end %>
										<!--<li> <%#= link_to( (t 'home.navbar.gites'), gites_url(:locale => I18n.locale)) %> </li>-->
										<%= link_to(calendar_url(:locale => I18n.locale)) do %>
											<li><%= t 'home.navbar.calendrier' %></li>
										<% end %>
										<!--<li> <%#= link_to( (t 'home.navbar.calendrier'), calendar_url(:locale => I18n.locale)) %> </li>-->
										<%= link_to(tarif_url(id: 1, :locale => I18n.locale)) do %>
											<li><%= t 'home.navbar.tarifs' %></li>
										<% end %>
                    <!--<li> <%#= link_to( (t 'home.navbar.tarifs'), tarif_url(id: 1, :locale => I18n.locale)) %> </li>-->
										<%= link_to(contact_url(:locale => I18n.locale)) do %>
											<li><%= t 'home.navbar.contact' %></li>
										<% end %>
                    <!--<li> <%#= link_to( (t 'home.navbar.contact'), contact_url(:locale => I18n.locale)) %> </li>-->
                </ul>
            </nav><!-- **Navigation - End** -->
        </div>

    </header><!-- **Header - End** -->
